html { background: black; }
body {
    font-family: "Ubuntu";
    font-size: "25px";
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-image: url("background.png");
}

.container {
    margin-top: 10%;
    font-family: "Ubuntu";
    font-size: "50px";
    color: rgb(255, 255, 255);
}

.container p {
    font-size: 50px;
    margin-bottom: 2px;
}

#iurl {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 28px;
    border: solid 1px rgb(255, 255, 255);
    font-family: "Ubuntu";
    font-size: 16px;
    color: #eee;
    padding: 8px 0px;
    margin-bottom: 5px;
    box-sizing: content-box;
    text-align: center;
    border-radius: 2px;
}

#btn {
    background-color: inherit;
    width: 100%;
    height: 28px;
    border: solid 1px #0066ff;
    font-family: "Ubuntu";
    font-size: 16px;
    color: #0066ff;
    padding: 8px 0px;
    box-sizing: content-box;
    transition: 0.3s;
    border-radius: 2px;
}

#btn:hover {
    background: #0066ff;
    color: #fff;
    background-repeat: no-repeat;
}

.container a {
    height: 20px;
    background: inherit;
    background-size: cover;
    color: #ddd;
    border: 0;
    cursor: pointer;
    font-family: "Ubuntu";
    font-size: 17px;
    transition: 0.3s;
}

.container a:hover {
    font-size: 23;
}

.url {
    width: 300px;
    margin: auto;
}
/* the bar of hyperlinks at the top of the page :3 */
#navbar {
  /* strangely... this makes the navbar visible lol (i like this bc it means i can give it a visible background color) */
  overflow: hidden;
  /* pwetty color */
  background-color: #106466;
}
#navbar a {
  /* make the hyperlink elements squeesh against each other without spacing between */
  float: left;
  /* self explanatory */
  text-align: center;
  /* add extra width/height around the hyperlink buttons */
  padding: 14px 16px;
  /* cool code-like builtin font */
  font-family: monospace;
  /* also self explanatory */
  color: #d2e9e3;
  /* smol lines on either side of buttons */
  border-style: none solid none solid;
  border-width: 1px;
  border-color: darkslategray;
  /* space between buttons */
  margin-right: 3px;
}
/* make the top buttons do something when hovered over!! */
#navbar a:hover {
  color: #d8b08c;
}